h1 {
  text-align: center;
}

#donut-table {
  margin: 50px auto;
  border: none;
}

#shop-form {
  display: block;
  text-align: center;
  margin: 0 auto;
}

#donut {
  width: 60px;
  height: 65px;
  margin-bottom: 10px;
}

tr {
  text-align: center;
  font-weight: bold;
}
